@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
/* Faire les definition css en suivant les noeuds html ()*/
/*----------  Reset ----------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; /* link's underline */
  list-style: none;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;

  /* Container Flux | Centrage*/
  display: flex;
  align-items: center;
  justify-content: center;

  background: #4070f4;
}

/*=============================================
=           <div class="input-box">           =
=============================================*/

/* 1 Container Row */
.input-box {
  /* Position attache et taille */
  position: relative; /* mesure en px ou em*/
  height: 55px;
  max-width: 60px;
  width: 100%; /* de max-width */

  /* C quoi */
  margin: 0 30px;
  border-radius: 6px;

  background: white;

  /*Effet de transition (d'animation) - declenche à la lecture de la regle*/
  /* https://cubic-bezier.com/ */
  transition: all 0.6sec cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/*  après click sur search .open */
/*  [.] permet une regle de modification de .input-box */
.input-box.open {
  max-width: 350px;
}

/*----------  .input-box  ----------*/

/* Placement de input dans son container */
/* Il doit occuper toute la taille du container */
.input-box input {
  /* On determine sa position (flux) et sa taille)*/
  position: relative;
  height: 100%;
  width: 100%;

  /*On rajoute des espacements interne. */
  padding: 0 15px; /* paddding: H ->R ->B ->L*/
  outline: none; /* Pas de contour */
  border: none;
  border-radius: 6px;

  /* Text size and weight */
  font-size: 16px;
  font-weight: 400;

  color: #333;
  transition: all 0.6sec cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* Modification de .open | Augmentation du padding left de 0 à 65px*/
.input-box.open input {
  padding: 0 15px 0 65px;
}

/*----------  Fin  ----------*/

/*----------  .input-box .search  ----------*/

/* Icon bloc radius des 4 cotes d'origine*/
.input-box .search {
  position: absolute; /* pour le replacer dans le container par superposition */
  left: 0;
  top: 0;

  height: 100%; /* du container */
  width: 60px;
  border-radius: 6px; /* bloc carre */
  background-color: white;

  /*Flux */
  display: flex;
  align-items: center;
  justify-content: center; /*space between*/

  /*Effet de transition */
  transition: all 0.6sec cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/*Modification par .open*/
.input-box.open .search {
  border-radius: 6px 0 0 6px;
}

/*----------  Fin  ----------*/

/*----------  Icon  ----------*/

/* Icon */
.search .search-icon {
  font-size: 30px;
  color: #4070f4;
  cursor: pointer;
}
.input-box .close-icon {
  /* Positionnement */
  position: absolute;
  cursor: pointer;

  /* depuis le coin droit (-) pour oriente le deplacment vers la gauche*/
  right: -45px;

  /* Astuce centrer à la hauteur du container */
  top: 50%;
  transform: translateY(-50%);

  font-size: 30px;
  color: #fff;
  /* equivalent 5 5 5 5px*/
  padding: 5px;

  pointer-events: none;
  transition: all 0.6sec cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/*----------  Fin  ----------*/

/* <span ...> Icon </span>*/
.input-box.open .search {
  /*transform: translateY(-50%) rotate(180deg);*/
}

/*=============================================
           Listing Ajas         
=============================================*/

.response {
  position: relative;
}
